name: ci
on: [push, pull_request]
jobs:
  editorconfig-verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: editorconfig-checker/action-editorconfig-checker@main
      - run: editorconfig-checker

  php-cs-verify:
    runs-on: ubuntu-latest
    needs: editorconfig-verify
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          php_version: 8.5
      - name: php-cs-fixer
        uses: php-actions/composer@v6
        with:
          php_version: 8.5
          command: run cs-verify

  static-analysis:
    runs-on: ubuntu-latest
    needs: php-cs-verify
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          php_version: 8.5
      - name: phan
        uses: php-actions/composer@v6
        with:
          php_version: 8.5
          command: run static-analysis

  test:
    runs-on: ubuntu-latest
    needs: static-analysis
    env:
      NATS_CLIENT_LOG: 1
      NATS_TEST_LOG: 1
    strategy:
      fail-fast: false
      matrix:
        nats: ['2.10', '2.11', '2.12', 'latest']
        php: ['8.2', '8.3', '8.4', '8.5']
        verbose: ['0', '1']
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php }}
          php_extensions: curl zip xml dom mbstring
      - name: Start NATS server (for real tests)
        run: docker compose up -d
        working-directory: docker
        env:
          NATS_IMAGE_TAG: ${{ matrix.nats }}
      - name: Run tests
        uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php }}
          php_extensions: curl zip xml dom mbstring
          command: test
      - name: Coverage text report
        run: cat coverage/report.txt
      - name: Upload coverage to Codecov
        if: matrix.php == '8.5' && matrix.verbose == '1'
        uses: codecov/codecov-action@v5
        with:
          files: coverage/report.clover
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
            token: ${{ secrets.CODECOV_TOKEN }}
            files: coverage/junit.xml
