name: static-analysis
on: [push, pull_request]
jobs:
  phan:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.3', '8.4', '8.5']
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Install dependencies
        uses: php-actions/composer@v6
      - name: phan
        uses: php-actions/composer@v6
        with:
          command: run phan
